
*   {
	box-sizing: border-box;

}

body    {
	color: #777777;
	font-family: 'Roboto', sans-serif;
	line-height: 175%;
	text-align: left;
	width: 100%;
	height: 90vh;
	margin: 0%;
	vertical-align: middle;
}
 
header  {
	float: left;
	background-color: #4aaaa5;
	border-bottom: none;
    color: #ffffff;
	height: 100%;
	width: 270px;
    margin-left: 2%;
	margin-bottom: 0;
	font-family: Georgia, 'Times New Roman', Times, serif;
	text-align: center;
    font-weight: bold;
    font-size: 30px;
	vertical-align: middle;
    padding-top: 15px;
    
}
  
h2,
h3	{
	color: #4aaaa5;
	border-bottom:	3px solid #dddddd;
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin-top: 1px;
	padding-bottom: 3px;
	text-align: left;
}
  
nav {
	width: 270px;
	height: 100%;
	text-align: center;
	float: right;
	margin-right: 5%;
	line-height: 45px;
}
  
ul  {
	list-style: none;
	margin: 0;
	padding: 0;
}
  
li  {
	float: left;
	width: 33%;
	padding: 2%;
}
  
li.border   {
	border-right: 1px solid #dddddd;
	padding: 2%;
}
  
a   {
	color: #777777;
	text-decoration: none;

}
  
a:hover {
    color: #4aaaa5;
    border-bottom: 3px solid #666666;
}

.icon {
	width: 60px;
	height: auto;
	color: none;
	border-right: none;
}
  
section	{
	float: left;
	background-color: #ffffff;
	color: #777777;
    border: 2px solid #dddddd;
    width: 960px;
}
  
input,
textarea    {
	width: 100%;
	padding: 10px 20px 10px 10px;
	margin: 8px 0;
	border-color: #dddddd;
	border-style: solid;
	border-width: thin;
}
  
  
footer  {
    clear: both;
    position:sticky;
	margin: 0 auto;
	vertical-align: middle;
	padding: 18px;
	height: 70px;
	background-color: #666666;
	width: 100%;
	border-bottom: none;
	color: #777777;
	text-align: center;
}
  
.container-head {
	border-bottom: 2px solid #cccccc;
	background-color: #ffffff;
    height: 60px;
}
  
.main-container {
	clear: both;
	overflow: auto;
	margin: 0 auto;
	height: 600px;
	width: 100%;
    border-bottom: 5px solid #4aaaa5;
    background-image: url("../images/pipes.png");
}

.box    {
	display: inline-block;
	width: 200px;
	height: 100px;
    margin: 50px;
    
}
  
.project    {
	float: left;
	position: relative;
	top:	-10px;
    width: 100%;
    height: 50%;
    
}
  
.project-name   {
	float: left;
	position: relative;
	top: -50px;
	width: 100%;
	height: 30px;
	background-color: #4aaaa5;
	color: #ffffff;
	text-align: center;
}

.button {
	background-color: #4aaaa5;
	color: #ffffff;
	width: 100px;
	height: 40px;
	font-size: 16px;
	border: none;
	position: relative;
	top: -8px;
}
.button:hover   {
    color: #666666;
}

.button:active  {
    background-color: #666666;
    color: #cccccc;
}

#socials {
	padding: 10px;
	width: 29%;
	top: 30px;
	text-align: center;
	margin-right: 2%;
	margin-top: 2%;
	margin-left: 2%;
	margin-bottom: 2%
}
  
#bio,
#contact-form,
#portfolio  {
	position: relative;
	  text-align: left;
	  width: 65%;
	  margin-top: 2%;
	  margin-left: 2%;
	  margin-bottom: 2%;
	  height: auto;
	  padding: 20px;
}
  
#bio-pic    {
	clear: both;
	float: left;
	margin-right: 20px;
	width: 200px;
	height: 200px;
}

@media screen and (max-width: 980px) {
  
	/* None */
}
	

@media screen and (max-width: 768px) {

.left-align {
	width: inherit;
}

.box {
	width: 50%;
}

#socials {
	clear: both;
	float: left;
	overflow: auto 0;
	width: 96%;
	margin: 2%;
	margin-right: 2%
}

#bio,
#contact-form,
#portfolio {
	clear: both;
	float: left;
	overflow: auto 0;
	width: 96%;
	margin: 2%;
}

	@media screen and (max-width: 640px) {

header	{
	float: left;
	background-color: #4aaaa5;
	border-bottom: none;
	color: #ffffff;
	height: 100%;
	width: 100%;
	margin-bottom: 0;
	font-family: 'Georgia', Times, Times New Roman, serif;
	text-align: center;
	font-weight: bold;
	vertical-align: middle;
	padding-top: 3%;
	margin-left: 0%;
}

nav	{
	clear: both;
	width: 100%;
	text-align: center;
	float: left;
	border-bottom: 2px solid #cccccc;
}

p {
	margin-top: 15px;
}

.container-head {
	border-bottom: none;
	z-index: -1;
}

.box {
	width: 100%;
}

#socials {
	clear: both;
	float: left;
	overflow: auto 0;
	width: 96%;
	margin: 2%;
	margin-right: 2%
}

#bio {
	clear: both;
	float: left;
	overflow: auto 0;
	width: initial;
	margin: 2%;
}

#bio-pic {
	width: 100%;
	height: 100%;
	margin-bottom: 15px;
}